<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Home Widget - Disabled in release mode -->
        <receiver android:name="app.nextlevel.TaskWidgetProvider"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/task_widget_provider" />
        </receiver>

        <!-- Also disable the date change receiver in release -->
        <receiver android:name="app.nextlevel.DateChangeReceiver" android:exported="true" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Disable the service as well -->
        <service
            android:name="app.nextlevel.TaskWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false"
            android:enabled="false" />

        <!-- Disable home widget background receiver -->
        <receiver android:name="es.antonborri.home_widget.HomeWidgetBackgroundReceiver"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="es.antonborri.home_widget.action.BACKGROUND" />
            </intent-filter>
        </receiver>

        <service android:name="es.antonborri.home_widget.HomeWidgetBackgroundService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            android:enabled="false"/>
    </application>
</manifest>